*{
    font-family: "Quicksand", sans-serif;
    font-size: 0.9rem;
}
html[data-theme="light"]{
    --dh-bg-dark:var(--bs-white);
    --dh-text-dark:var(--bs-dark);
}

html[data-theme="dark"]{
    --dh-bg-dark:var(--bs-dark);
    --dh-text-dark:var(--bs-light);
}
body{
    background-color:var(--dh-bg-dark);
    color:var(--dh-text-dark);
}
.main{
    width: 100%;
}
.aside{
    width: 20rem;
    background-color:var(--dh-bg-dark);
}
.list-group-item{
    border-color:transparent!important;
    border-left-width:4px!important ;
    color:var(--dh-text-dark);
    background-color:var(--dh-bg-dark);
}
.list-group-item.active{
    background-color: transparent;
    color: white;
    border-style:solid ;
    border-left-color:#f47423!important ;
    background-color: black;
}
.list-group-item:hover{
    background-color: black!important;
    color: white;
    border-style:solid ;
    border-left-color:#f47423!important ;
    transition: 0.5s;
}
.text-orange{
    color:#f47423;
}
.bg-orange{
    background-color: #f47423;
}
.bg-gray{
    background-color:var(--dh-bg-dark);
}
.w-photo{
    width: 25px;
    height: 25px;
}
.w-logo{
    width:70px;
}
.logo{
    width: 100%;
    height: 75px;
}
.haha{
    width: 30px;
    height:30px;
}
.nav{
    z-index: 5;
    background-color:var(--dh-bg-dark);
}
.bg-contact{
    background-color:var(--dh-bg-dark) ;
}
.w-photo1{
    width:65px;
    height:65px;
}
.btn-dark:hover{
    background-color:#f47423;
    border:1px solid #f47423;
    transition:0.5s;
}
.w-butt{
    width:60px;
    height:60px;
}
.border-orange{
    border:1px solid #f47423;
}
.bg-green{
    background-color:#3FF28C;
}
.ml-5{
    margin-left:100px;
}
.ml-6{
    margin-left:103px;
}
.ml-7{
    margin-left:78px;
}
.ml-8{
    margin-left:108px;
}
.w-fff{
    width:50%;
}
.w-fff1{
    width:85%;
}
.w-fff2{
    width:30%;
}
.bg-111{
    margin:0;
    padding:0; 
    min-height: 100vh;
    width: 100%;
    background: url('/assest/img/ezgif.com-video-to-gif-8.gif')no-repeat;
    background-position: center;
    background-size: cover;
}
.border-light11{
    border:1px solid white;
}
@media screen and (max-width:850px) {
    .aside{
        position: fixed;
        width:13rem;
        top: 0;
        left:-100%;
        transition: 1s;
        z-index: 1041;
        height: 100vh;
        background-color:var(--dh-bg-dark);
    }
    .aside.show{
        left: 0;
    }
    .offcanvas-backdrop{
        background-color: white;
    }
    .ml-6{
        margin-left:80px;
    }
    .ml-5{
        margin-left:77px;
    }
    .ml-7{
        margin-left:54px;
    }
    .ml-8{
        margin-left:85px;
    }
    .w-fff{
        width:100%;
    }
    .w-fff1{
        width:100%;
    }
    .w-fff2{
        width:100%;
    }
    .border-light11{
        border:0px;
    }
}